<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Rescources</title>
</head>
<body>
    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Sixty and Me</h2>
                <p class="lead">Sixty and Me is the ultimate lifestyle magazine for older adults. Boasting romance articles, fashion tips, money management guides and even advice columns, it’s easy to spend hours on this site learning, planning your day and laughing at the absurdities of life</p>
                <p><a class="btn btn-lg btn btn-info" href="https://sixtyandme.com/">Click here for more</a></p>
            </div>
            <div class="col-md-5">
                <img width="600" height="500" src="https://images.unsplash.com/photo-1581579438530-e203e7572d95?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Medicare</h2>
                <p class="lead">Medicare.gov is a must-bookmark for anyone on Medicare and those who will soon be eligible. You can do a lot more than just compare Medicare plans here, though. Learn about eligibility options, tending to your own health and so much more. </p>
                <p>
                    <a class="btn btn-lg btn btn-info" href="https://www.medicare.gov/">Click here for more</a>
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img width="530" height="500" src="https://images.unsplash.com/photo-1543333995-a78aea2eee50?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGVsZGVybHl8ZW58MHx8MHx8fDA%3D" alt="">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">TED</h2>
                <p class="lead">Want to cram your brain full of knowledge? TED is the perfect site. Listen to talks from speakers of every variety with a vast array of expertise. And because all of the talks are in audio form, you can listen to them while you clean, garden or exercise for optimal efficiency. </p>
                <p><a class="btn btn-lg btn btn-info" href="https://www.ted.com/">Click here for more</a></p>
            </div>
            <div class="col-md-5">
                <img width="600" height="500" src="https://i.pinimg.com/564x/5e/cc/0f/5ecc0f21c72b7e25271b1de3dbc2424a.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    
    </div>
    <%- include("footer.ejs") -%>

</body>
</html>